body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/FundoCOnfirmacao.png");
    background-size: cover;
    background-repeat: none;
    gap: 30px;
    flex-direction: column;
}

a{
    color: #2f81ad;
    font-weight: bold;
    text-decoration: none;
}

h1{
    color: #333232;
}
p{
    color: #464444;
}
img{
    width: 300px;
    height: auto;
}