.Sessao {
    width: 100%;
    padding: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.Sessao .titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sessao .titulo h2 {
    font-size: 32px;
    color: #3c3b3b;
}

.InformacaoSessao {
    width: 90%;
    min-height: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--fundo-header);
    box-shadow: 0px 0px 10px rgba(27, 106, 148, 0.356);
}

.InformacaoSessao p {
    line-height: 1.5;
    color: #575555;
    font-size: 17px;
}

.ContainerGrid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 40px;
    min-height: 100px;
}

.ContainerGrid .card {
    width: 100%;       
    position: relative;
    height: 500px;    
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.ContainerGrid .card:hover{
   transform: translateY(-2px);
}

.ContainerGrid .card img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.card .InformacaoCard{
    width: 100%;
    height: 100%;
    background-color: rgba(10, 19, 35, 0.491);
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    top: 0;
    left: 0;
    align-items: center;
    gap: 50px;
    position: absolute;
    animation: aparecerInformacao 0.7s;
    z-index: 50;
    cursor: pointer;
}

@keyframes aparecerInformacao {
    0%{
        background-color: rgb(10, 19, 35);
    }
    25%{
        background-color: rgba(10, 19, 35, 0.779);
    }
    50%{
        background-color: rgba(10, 19, 35, 0.528);
    }
    75%{
        background-color: rgba(10, 19, 35, 0.426);
    }
}

.card .InformacaoCard img{
    width: 100px;
    height: auto;
}

.card .InformacaoCard p{
    color: white;
}